# --- TanStack Specifics ---
.nitro
.tanstack
.output
.vinxi

# --- Packages & Dependency Managers ---
node_modules/
/.pnpm-store
package-lock.json
yarn.lock
pnpm-lock.yaml

# --- Production Builds ---
dist/
dist-ssr/
build/
.cache/

# --- Environment Variables ---
.env
*.local

# --- System / IDE Cache ---
.DS_Store
.vscode/
.idea/
