QDRANT_COLLECTION_NAME = "<collection_name>"
QDRANT_URL = "<qdrant_url>"
EMBEDDING_DIM = <embedding_dimension>
SPARSE_VECTOR_NAME = "<collection_name>_sparse_bm25"
EMBEDDING_MODEL = "<embedding_model_name>"